### Practice

In [53]:
# Task 1: Variable assignment and information
rollno = 23
print("Roll number:", rollno)
print("Type of rollno:", type(rollno))
print("ID of rollno:", id(rollno))

Roll number: 23
Type of rollno: <class 'int'>
ID of rollno: 140726082944120

In [55]:
#task(b)
firstname = "Sudheera"
print("\nFirst name:", firstname)
print("Type of firstname:", type(firstname))
print("ID of firstname:", id(firstname))

First name: Sudheera
Type of firstname: <class 'str'>
ID of firstname: 2175658380912

In [57]:
#task(c)
lastname = "Konduri"
print("\nLast name:", lastname)
print("Type of lastname:", type(lastname))
print("ID of lastname:", id(lastname))

Last name: Konduri
Type of lastname: <class 'str'>
ID of lastname: 2175662126976

In [59]:
#task(d)
max_marks = 50
print("\nMaximum marks:", max_marks)
print("Type of max_marks:", type(max_marks))
print("ID of max_marks:", id(max_marks))

Maximum marks: 50
Type of max_marks: <class 'int'>
ID of max_marks: 140726082944984

In [61]:
# Task 2: Valid and invalid variable names
var1 = 2
print("\nvar1 =", var1)

var1 = 2

In [63]:
print("2var = 2  # This will cause an error")

2var = 2  # This will cause an error

In [65]:
print("var 1 = 2  # This will cause an error")

var 1 = 2  # This will cause an error

In [67]:
print("var$2 = 2  # This will cause an error")

var$2 = 2  # This will cause an error

In [5]:
# Task 3: Keywords as variable names
# Task 3: Assigning values to variables

# a) Class = 15  # This is generally discouraged due to using a capitalized name like a keyword
Class = 15
print(Class)

# b) class = 14  # This will cause a SyntaxError as 'class' is a keyword
# class = 14

# c) DEF = 13  # Discouraged due to using a capitalized name like a keyword
DEF = 13
print(DEF)

# d) def = 12  # This will cause a SyntaxError as 'def' is a keyword
# def = 12

# e) a = TRUE  # Corrected to 'True' as Python is case-sensitive
a = True
print(a)

# f) b = false  # Corrected to 'False' as Python is case-sensitive
b = False
print(b)

15
13
True
False

In [73]:
# Task 4: Floating-point numbers and variable reassignment
marks = 95.88
print("\nMarks:", marks)
print("Type of marks:", type(marks))
print("ID of marks:", id(marks))

Marks: 95.88
Type of marks: <class 'float'>
ID of marks: 2175712181424

In [75]:
marks = 88.88
print("\nUpdated marks:", marks)
print("Type of marks:", type(marks))
print("ID of marks:", id(marks))

Updated marks: 88.88
Type of marks: <class 'float'>
ID of marks: 2175656832688

In [77]:
# Task 5: Calculating percentage
maxmarks=100
percentage = (marks / maxmarks) * 100
print("\nPercentage:", percentage)

Percentage: 88.88

In [79]:
fullname = firstname + " " + lastname
print("\nFull name:", fullname)

result_string = fullname + " scored " + str(percentage) + "%"
print(result_string)

Full name: Sudheera Konduri
Sudheera Konduri scored 88.88%

In [13]:
# Task 6: Arithmetic Operations

# Arithmetic operations
a = 1 + "2"  # Will result in a TypeError
b = "1" + "2"
c = 1 / 2
d = 1 // 2

print(a)  # This will print the TypeError
print(b)
print(c)
print(d)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [83]:
print(1/2)

0.5

In [85]:
print(1//2)

0

In [15]:
#task7: Logical operations
print("\nLogical operations:")
print("True and True =", True and True)  # Both conditions are True, so the result is True
print("True and False =", True and False)  # One condition is False, so the result is False
print("False or True =", False or True)  # One condition is True, so the result is True
print("False or False =", False or False)  # Both conditions are False, so the result is False

Logical operations:
True and True = True
True and False = False
False or True = True
False or False = False

In [89]:
#task8:a,b Membership and identity operators
print("\nMembership and identity:")
print("'Sudheera' in 'Sudheera Konduri' =", 'Sudheera' in 'Sudheera Konduri')  # Checks if 'Sudheera' is a substring in 'Sudheera Konduri'
print("firstname is fullname =", firstname is fullname)  # Checks if 'firstname' and 'fullname' refer to the same object in memory

Membership and identity:
'Sudheera' in 'Sudheera Konduri' = True
firstname is fullname = False

In [19]:
#task9:a,b,c
# Task 10: Operator precedence
a, b, c = 4, 3, 2

# Exponentiation has higher precedence than addition
d = a**b + c  # Equivalent to (a**b) + c
print("\nOperator precedence:")
print("a =", a, ", b =", b, ", c =", c)
print("a**b + c =", d, "  # Exponentiation is performed first, then addition")

# Parentheses can be used to override default precedence
e = a**(b + c)  # Equivalent to a^(b+c)
print("a**(b + c) =", e, "  # Parentheses force addition to be performed first, then exponentiation")
print("The output is different due to operator precedence in Python.")

Operator precedence:
a = 4 , b = 3 , c = 2
a**b + c = 66   # Exponentiation is performed first, then addition
a**(b + c) = 1024   # Parentheses force addition to be performed first, then exponentiation
The output is different due to operator precedence in Python.