In [2]:
number = int(input("Enter a number: "))

factorial = 1

while number > 0:
  factorial = factorial * number
  number = number - 1

print("The factorial is:", factorial)

Enter a number:  6

The factorial is: 720

In [4]:
def is_prime(number):
  if number <= 1:
    return False

  divisor = 2
  while divisor * divisor <= number:
    if number % divisor == 0:
      return False
    divisor = divisor + 1

  return True

# Check if 50 is prime
if is_prime(50):
  print("50 is a prime number")
else:
  print("50 is not a prime number")

# Check if 51 is prime
if is_prime(51):
  print("51 is a prime number")
else:
  print("51 is not a prime number")

50 is not a prime number
51 is not a prime number

In [6]:
number = int(input("Enter a five-digit number: "))

sum_of_digits = 0
while number > 0:
  digit = number % 10
  sum_of_digits += digit
  number = number // 10

print("Sum of digits:", sum_of_digits)

Enter a five-digit number:  55555

Sum of digits: 25

In [8]:
a = 0
b = 1
count = 0

while count < 7:
  print(a, end=", ")
  c = a + b
  a = b
  b = c
  count += 1

0, 1, 1, 2, 3, 5, 8,

In [10]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

print("ID of t1 before:", id(t1))
print("ID of t2 before:", id(t2))

# This line will cause an error because you cannot add a number to a tuple
# t1 = t1 + 2

# To concatenate tuples, you should use another tuple:
t3 = (2,)
t1 = t1 + t3

print("ID of t1 after:", id(t1))
print("ID of t2 after:", id(t2))

ID of t1 before: 2038225461440
ID of t2 before: 2038226628096
ID of t1 after: 2038202258496
ID of t2 after: 2038226628096

In [12]:
m = {10, 20, 30, 40, 50}
n = [33, 40, 55, 60, 70]

for num in n:
  m.add(num)

print(m)

{70, 10, 20, 30, 33, 40, 50, 55, 60}

In [14]:
data_set = {"Python": 1, "Data": 2, "Excel": 3, "SQL": 4}

for key, value in data_set.items():
  if value % 2 == 0:
    print(key, value)

Data 2
SQL 4

In [16]:
d = {}

for i in range(1, 16):
  d[i] = i * i

d.update({100: 10000})

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}